* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

#wrapper {
    height: 2000px;
    max-width: 900px;
    width: 100%;
    background-image: url(../img/lope_.png);
    margin: 0 auto;
    position: relative;
}

.lope_ {
    position: relative;
}

.Ozora-Resto {
    position: relative;
    top: 10px;
    left: 175px;
}

.vday {
    position: relative;
    top: 100px;
    right: 130px;
}

.menu {
    position: relative;
    top: 127px;
    left: 375px;
}

.ramen {
    position: relative;
    top: 135px;
    left: 407px;
}

.hitsumabushi {
    position: relative;
    top: 150px;
    left: 40px;
}

.kare {
    position: relative;
    top: 150px;
    left: 230px;
}

.menu-middle {
    position: relative;
    top: 110px;
    left: 240px;
}

.button-h {
    position: relative;
    top: -560px;
    left: 65px;
}

.icon-h {
    position: relative;
    top: 430px;
    right: 480px;
}

.desc-h {
    position: relative;
    top: 165px;
    left: 240px;
}

.button-k {
    position: relative;
    top: -660px;
    left: 330px;
}

.icon-k {
    position: relative;
    top: 435px;
    left: 15px;
}

.desc-k {
    position: relative;
    top: 130px;
    left: 10px;
}

.button-r {
    position: relative;
    top: -760px;
    left: 590px;
}

.icon-r {
    position: relative;
    top: 405px;
    right: 650px;
}

.desc-r {
    position: relative;
    top: 190px;
    left: 240px;
}

.kupon {
    position: relative;
    top: 40px;
    left: 140px;
}

.akses {
    position: relative;
    top: 100px;
    left: 25px;
}